# Machine Learning Foundation

## Section 1, Part b: Reading Data Lab

In [1]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

## Lab Exercise: Reading in database files

*   Create a variable, `path`, containing the path to the `baseball.db` contained in `resources/`
*   Create a connection, `con`, that is connected to database at `path`
*   Create a variable, `query`, containing a SQL query which reads in all data from the `allstarfull` table
*   Create a variable, `observations`, by using pandas' [read_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMML0232ENSkillsNetwork30654641-2021-01-01)

### Optional

*   Create a variable, `tables`, which reads in all data from the table `sqlite_master`
*   Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players.

In [2]:
# Download the database
!wget -P data https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/baseball.db

--2022-05-14 11:13:15--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-ML0232EN-SkillsNetwork/asset/baseball.db
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7626752 (7.3M) [binary/octet-stream]
Saving to: ‘data/baseball.db.1’

baseball.db.1       100%[===================>]   7.27M  --.-KB/s    in 0.05s

2022-05-14 11:13:16 (134 MB/s) - ‘data/baseball.db.1’ saved [7626752/7626752]

In [4]:
##Solution 
file_path = 'data/baseball.db'
connection = sq3.Connection(file_path)
print(connection)

<sqlite3.Connection object at 0x7eff0244bf10>

In [11]:
#Create a variable, query, containing a SQL query which reads in all data from the allstarfull table

query = """
SELECT *
    FROM allstarfull
    ;
"""

observations = pd.read_sql(query , connection)
print(observations)

      index   playerID  yearID  gameNum        gameID teamID lgID   GP  \
0         0  gomezle01    1933        0  ALS193307060    NYA   AL  1.0
1         1  ferreri01    1933        0  ALS193307060    BOS   AL  1.0
2         2  gehrilo01    1933        0  ALS193307060    NYA   AL  1.0
3         3  gehrich01    1933        0  ALS193307060    DET   AL  1.0
4         4  dykesji01    1933        0  ALS193307060    CHA   AL  1.0
...     ...        ...     ...      ...           ...    ...  ...  ...
5143   5143  seageco01    2016        0  ALS201607120    LAN   NL  1.0
5144   5144  strasst01    2016        0  ALS201607120    WAS   NL  0.0
5145   5145  syndeno01    2016        0  ALS201607120    NYN   NL  0.0
5146   5146  teherju01    2016        0  ALS201607120    ATL   NL  1.0
5147   5147  zobribe01    2016        0  ALS201607120    CHN   NL  1.0

      startingPos
0             1.0
1             2.0
2             3.0
3             4.0
4             5.0
...           ...
5143          NaN
5144          NaN
5145          NaN
5146          NaN
5147          4.0

[5148 rows x 9 columns]

In [13]:
# Create a variable, tables, which reads in all data from the table sqlite_master
query = 'Select * from sqlite_master;')
all_tables = pd.read_sql(query , connection)
print(all_tables)

SyntaxError: invalid syntax (2401062134.py, line 2)

In [ ]:

# Create a variable, `query`, containing a SQL query which reads in all data from the `` table


allstar_observations = pd.read_sql(query, con)

# print(allstar_observations)

# Create a variable, tables, which reads in all data from the table sqlite_master
all_tables = pd.read_sql('SELECT * FROM sqlite_master', con)
print(all_tables)

# Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players
best_query = """
SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position
    FROM allstarfull
    GROUP BY playerID
    ORDER BY num_games_played DESC, avg_starting_position ASC
    LIMIT 3
"""
best = pd.read_sql(best_query, con)
print(best.head())
### END SOLUTION

***

### Machine Learning Foundation (C) 2020 IBM Corporation